<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>{{title}}</h2>
            <h3>{{genre}}</h3>
            <p>{{plot}}</p>
            {{#each cast}}
            <ul>
                <li>{{name}}</li>
            </ul>
            {{/each}}
            <form action="/movies/{{id}}/edit" method="GET">
                <button type="submit">Edit</button>
            </form>
            <form action="/movies/{{id}}/delete" method="POST">
                <button type="submit">Delete</button>
            </form>            
        </div>
    </div>
</div>